<!DOCTYPE html>
<html>

<head>
  <title>Pokedex Hunter</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div>
    <nav>
      <div class="nav-wrapper" id="sticky-header">
        <a href="/" class="brand-logo left" id="pokedex-title">Pokedex</a>
        <ul class="right">
          <li>
            <a href="/mypokemon"><i class="material-icons left"></i>My Pokemon</a>
          </li>
          <li>
            <% if(user && user.name){ %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else{ %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="pokedex-full">
      <a href="/kanto" class="region-nav">Kanto</a>
      <a href="/johto" class="region-nav">Johto</a>
      <a href="/hoenn" class="region-nav">Hoenn</a>
      <a href="/sinnoh" class="region-nav">Sinnoh</a>
      <a href="/unova" class="region-nav">Unova</a>
      <a href="/kalos" class="region-nav">Kalos</a>
      <a href="/alola" class="region-nav">Alola</a>
    </div>

    <form action="/search" method="GET">
      <div class="pokedex-full" id="searchbar">
        <input type="text" name="pokesearch" autocomplete="off" placeholder="Search for a Pokemon"
          style="text-transform: lowercase; width: 80%;">
        <button class="btn btn-success" style="width: 10%; margin-bottom: 60px;" type="submit">Go!</button>
      </div>
    </form>
  </div>

  <div class="pokemon-screen-text">
    <h2 style="margin-bottom: 0;">#<%= mon.id %>: <%= mon.name %></h1>
      <img src="<%= mon.sprites.front_default %>" alt="Pokemon Photo" height="300" width="300">
  </div>

  <div class="pokedex-full">
    <a href="/search?pokesearch=<%= mon.id - 1 %>" class="next-prev">Previous Pokemon</a>
    <form id="<%= userLoggedId %>" action="/pokemon" method="POST" style="width: 33%; margin-bottom: 10px;">
      <input name="name" type="hidden" value="<%= mon.name %>">
      <input name="number" type="hidden" value="<%= mon.id %>">
      <input name="image" type="hidden" value="<%= mon.sprites.front_default %>">
      <input type="submit" value="add to list">
    </form>
    <a href="/search?pokesearch=<%= mon.id + 1 %>" class="next-prev">Next Pokemon</a>
  </div>

  <hr style="margin-bottom: 30px;">

  <div id="mon-description">
    <h6 style="text-align: center; font-style: italic; font-weight: 900;"><%= engArrTitle[0].genus %></h6>
    <div class="pokedex-full">
      <% for (let i = 0; i < mon.types.length; i++) {  %>
      <p style="width: <%= 100 / mon.types.length %>%; font-weight: 900;">Type: <%= mon.types[i].type.name %></p>
      <% } %>
    </div>
    <p style="text-align: center; padding: 0 6vmin;"><%= engArrDesc[0].flavor_text %></p>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      const form = document.getElementById('target');
      form.onsubmit = () => {
        alert("You must be signed in to create a list.");
      }
    });
  </script>

</body>


</html>