<!DOCTYPE html>
<html>

<head>
  <title>Pokedex Hunter</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div>
    <nav style="margin-bottom: 20px;">
      <div class="nav-wrapper" id="sticky-header">
        <a href="/" class="brand-logo left" id="pokedex-title">Pokedex</a>
        <ul class="right">
          <li>
            <a href="/mypokemon"><i class="material-icons left"></i>My Pokemon</a>
          </li>
          <li>
            <% if(user && user.name){ %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else{ %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>

    <form action="/search" method="GET">
      <div class="pokedex-full" id="searchbar">
        <input type="text" name="pokesearch" autocomplete="off" placeholder="Search for a Pokemon"
          style="text-transform: lowercase; width: 80%;">
        <button class="btn btn-success" style="width: 10%; margin-bottom: 80px;" type="submit">Go!</button>
      </div>
    </form>
  </div>

  <div class="pokemon-screen-text">
    <h2 style="margin-bottom: 0;">#<%= mon.id %>: <%= mon.name %></h1>
      <img src="<%= mon.sprites.front_default %>" alt="Pokemon Photo" height="300" width="300">
  </div>

  <div class="pokedex-full">
    <a href="/search?pokesearch=<%= mon.id - 1 %>" style="width: 50%;" class="pokemon-screen-text">Previous Pokemon</a>
    <a href="/search?pokesearch=<%= mon.id + 1 %>" style="width: 50%;" class="pokemon-screen-text">Next Pokemon</a>
  </div>

  <table>
    <tr>
      <th style="text-align: center;"">
      <% for (let i = 0; i < mon.types.length; i++) {  %>
        <p>Type: <%= mon.types[i].type.name %></p>
        <% } %>
        <form id="target" action="/pokemon" method="POST">
        <input name="name" type="hidden" value="<%= mon.name %>">
        <input name="number" type="hidden" value="<%= mon.id %>">
        <input name="image" type="hidden" value="<%= mon.sprites.front_default %>">
        <input type="submit" value="add to list">
        </form>
      </th>
    </tr>
  </table> 
  
  <h6 style="text-align: center;"><%= engArrTitle[0].genus %></h6>
  <p style="text-align: center; padding: 0 60vmin;"><%= engArrDesc[0].flavor_text %></p>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
      const form = document.getElementById('target');
      form.onsubmit = () => {
        alert("Sorry! You must be signed in to create a list.");
      }
    });

    
  </script>

</body>


</html>