<!DOCTYPE html>
<html>

<head>
  <title>Pokedex Hunter</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

  <div>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">Pokedex</a>
        <ul class="right">
          <li>
            <a href=""><i class="material-icons left"></i>My Pokemon</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <form action="/search" method="GET">
    <div style="text-align: center;">
      <input type="text" name="pokesearch" autocomplete="off" placeholder="Search for a Pokemon"
        style="text-transform: lowercase;">
      <button class="btn btn-success" style="margin: 0 auto;" type="submit">Go!</button>
    </div>
  </form>

  <div class="pokemon-screen-text">
    <h2 style="margin-bottom: 0;">#<%= mon.id %>: <%= mon.name %></h1>
      <img src="<%= mon.sprites.front_default %>" alt="Pokemon Photo" height="300" width="300">
  </div>

  <div class="pokedex-full">
    <a href="/search?pokesearch=<%= mon.id - 1 %>" style="width: 50%;" class="pokemon-screen-text">Previous Pokemon</a>
    <a href="/search?pokesearch=<%= mon.id + 1 %>" style="width: 50%;" class="pokemon-screen-text">Next Pokemon</a>
  </div>

  <table>
    <tr>
      <th style="text-align: center;"">
      <% for (let i = 0; i < mon.types.length; i++) {  %>
        <p>Type: <%= mon.types[i].type.name %></p>
        <% } %>
      </th>
    </tr>
  </table>

  <p style="text-align: center; padding: 0 60vmin;"><%= engArr[0].flavor_text %></p>
</body>

</html>